<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7d05cc7a-38ac-4b32-88b2-7a9905938d33/resourcegroups/RestWithASPNETUdemy20230605202436ResourceGroup/providers/Microsoft.Web/sites/RestWithASPNETUdemy20230605202436</ResourceId>
    <ResourceGroup>RestWithASPNETUdemy20230605202436ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/7d05cc7a-38ac-4b32-88b2-7a9905938d33/resourceGroups/RestWithASPNETUdemy20230605202436ResourceGroup/providers/Microsoft.ApiManagement/service/RestWithASPNETUdemyapi/apis/RestWithASPNETUdemy</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://restwithaspnetudemy20230605202436.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d48c211e-e692-4545-9f96-eb0be4e2324f</ProjectGuid>
    <MSDeployServiceURL>restwithaspnetudemy20230605202436.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RestWithASPNETUdemy20230605202436</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$RestWithASPNETUdemy20230605202436</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>